server:
  port: 8080

spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/certs
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # ============= USER SERVICE =============
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**

        # ============= ACTIVITY SERVICE =============
        - id: activity-service
          uri: lb://activity-service
          predicates:
            - Path=/api/activities/**

        # ============= AI SERVICE =============
        - id: ai-service
          uri: lb://ai-service
          predicates:
            - Path=/api/recommendation/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}
